@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">

  
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px; border-radius: 10px;">
        <form method="post">
            
            <h1 class="h3 mb-3 fw-bold text-center">@ViewData["Title"]</h1>
            <p class="text-center text-muted small">Nhập email của bạn để bắt đầu khôi phục.</p>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Đặt lại mật khẩu</button>

            <div class="text-center small">
                <a asp-page="./Login" class="text-decoration-none">Quay lại đăng nhập</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}